body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 2000px;
}

.app {
  max-width: 1200px;
  margin: 50px auto;
}

h2 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

button {
  padding: 8px 15px;
  background-color: #399;
  border: 0;
  color: #fff;
  margin: 2px;
  font-size: 16px;
}

.nav {
  border-bottom: 1px solid #eee;
  margin-top: 50px;
  margin-bottom: 80px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  color: #666;
  padding: 10px 15px;
}

.router-modal {
  position: relative;
  background-color: #fff;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.react-modal__content {
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 0 20vw;
}

.router-modal__close {
  position: fixed;
  right: 20vw;
  top: 30px;
  z-index: 9999;
}

@media (max-width: 600px) {
  .react-modal__content {
    margin: 0 15px;
  }
  .router-modal__close {
    right: 15px;
  }
}
